{{# definitionList }}
    {{#each items }}
            {{ term }}
        {{#if description }}
            {{{ description }}}
        {{/ if }}
    {{/ each }}
{{/ definitionList }}


<ol class="terms">

  {{!-- test --}}

  <li id="interpretation">
    INTERPRETATION
    <ol>
      <li>in these terms and conditions:

        <ul>
          <li><b>"person" includes</b> a corporation, association, firm, company, partnership or individual&#59;</li>
          <li><b>"buyer"</b> means the person buying the goods from the Company&#59;</li>
          <li><b>"Company"</b> means PRIEST SHEET METAL LIMITED</li>
          <li><b>"contract"</b> means contract between the Company and the buyer for the purchase of the goods&#59;</li>
          <li><b>"contract price"</b> means the price of goods as agreed between the Company and the buyer, subject to any variation in accordance with clauses 2 or 4&#59;</li>
          <li><b>"date of the contract"</b> means&#59;</li>
        </ul>

        <ol class="ol__alpha">
          <li>where the contract arises from an order placed by the buyer, the date of acceptance of the order by the Company&#59;</li>
          or
          <li>where the contract arises from a quotation given by the Company, the date upon which written notification of acceptance of the quotation is received by the Company or where no written notification of acceptance of the quotation is received S by the Company, the date of such other form of acceptance as the Company in its discretion determines to treat as a valid acceptance&#59; "goods" means the goods being purchased by the buyer from the Company which are the subject of the contract.</li>
        </ol>
      </li>
      <li>Headings are used as a matter of a convenience only and shall not affect the interpretation of these terms and conditions.</li>
    </ol>
  </li>