hr
<hr />

tasks__wrapper
{{!-- this needs all the wrapping --}}
<div class="tasks__wrapper">
    <section class="tasks">
        <hr class="tasks__divider" />
        <div class="tasks__divider--cross">{{!-- stay gold --}}</div>
    </section>
</div>

Cross
{{!-- get this out of a wrap --}}
<div class="cross__wrapper">
    <hr class="cross__hr" />
    <div class="cross__divider">{{!-- stay gold --}}</div>
</div>

swiss
<hr class="swiss" />