<div class="diatomic-wrapper">
  <section class="diatomic-card">
    {{> molecules-diatomic-image }}
    {{> molecules-diatomic-text }}
  </section>
  <section class="diatomic-card">
    {{> molecules-diatomic-image }}
    {{> molecules-diatomic-text }}
  </section>
  <section class="diatomic-card">
    {{> molecules-diatomic-image }}
    {{> molecules-diatomic-text }}
  </section>
</div>