<div class="summit__backer">
    <section id="summit">
        {{> molecules-summit__info }}
        {{> molecules-summit__about }}
        {{> molecules-summit__video }}
        {{> molecules-summit__videobacker}}
        {{> molecules-summit__team-photo_1 }}
        {{> molecules-summit__team-photo_2 }}
        {{> molecules-summit__contact }}
    </section>
</div>