<div class="bg-light-gray shadow-darker">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell gp2-tb">
                <span class="iframe-100">
                    {{> atoms-map }}
                </span>
            </div>
        </div>
    </div>
</div>