{{!-- this maybe got renamed to tasks which is dumb? --}}

{{!-- keep the cross inline --}}
<div class="service__wrapper">

    
    <section class="service">
        {{> molecules-services-image }}
        {{> molecules-services-text }}
    </section>

    {{> atoms-cross-hr }}
</div>