{{> organisms-header }}
<main role="main">

	{{> organisms-service }}
	{{> organisms-service }}
	{{> organisms-service }}
	{{> organisms-service }}
	{{> organisms-service }}
	{{> organisms-service }}
	{{> organisms-service }}
	{{> organisms-service }}

</main>

{{> organisms-footer }}