/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

/**
 * Button and submit inputs reset
 * 1) These should be styled using c-btn
 */
button {
  cursor: pointer;
  border: none; // browser rest
  padding: calc(var(--global-padding) / 2) var(--global-padding);
  background: var(--secondary-color);
  color: var(--white);
  font-family: var(--major-font-family);
  font-weight: bold;
  font-size: 1.44em;
}

// why us this so different? only use once can I get rid of it?
.button {
  display: inline-block;
  padding: 0.85em 1em;
  font-family: var(--major-font-family);
  font-weight: bold;
  // text-transform: uppercase;
  letter-spacing: 1px;
}
// where are the hover styles?

.button.hollow {
  // font-weight: bold;
  background-color: transparent;
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  transition: 0.5s ease;
}

.button.hollow:hover {
  background: var(--secondary-color);
  color: var(--light-gray);
  border-color: var(--secondary-color);
}

:is(button, .button):visited {
  background: hsl(var(--secondary-color-b), calc(var(--secondary-color-l) - 5%));
}

:is(button, .button):hover {
  background: hsl(var(--secondary-color-b), calc(var(--secondary-color-l) - 10%));
  color: var(--light-gray);
}

:is(button, .button):focus {
  background: hsl(var(--secondary-color-b), calc(var(--secondary-color-l) - 25%));
}

:is(button, .button):active {
  background: hsl(var(--secondary-color-b), calc(var(--secondary-color-l) - 5%));
}

// where are the hover styles?

.button.visited {
  border-color: hsl(var(--secondary-color-b), calc(var(--secondary-color-l) - 5%));
}

.button.hollow {
  // font-weight: bold;
  background-color: transparent;
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  transition: 0.5s ease;
}

.button.hollow:hover {
  background: var(--secondary-color);
  color: var(--light-gray);
  border-color: var(--secondary-color);
}

.button.hollow:focus {
  border-color: hsl(var(--secondary-color-b), calc(var(--secondary-color-l) - 25%));
}

.button.hollow:active {
  border-color: hsl(var(--secondary-color-b), calc(var(--secondary-color-l) - 5%));
}
