/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

/**
 * Button and submit inputs reset
 * 1) These should be styled using c-btn
 */
button {
  cursor: pointer;
}

/*------------------------------------*\
    #Priest
\*------------------------------------*/

button,
.button {
  display: block;
  border: none; // browser rest
  padding: 0.85em 1em; // 1.7rem 27.2px
  line-height: 1.5rem;
  background: var(--secondary-color);
  color: $white;
  font-family: $major-font-family;
  font-weight: bold;
  font-size: 1.5rem;
  // text-transform: uppercase;
  letter-spacing: 1px;
  margin-block-end: 1.6rem; // 8px
  max-width: max-content;
  // total height of button 1.5rem line height + 1.7rem padding + 1.6 magin bellow = 4rem
  // line height is 1.6rem * 2 = 3.2rem
  // * 3 = 4.8
}

:is(button, .button):visited {
  background: hsl(var(--secondary-color-b), calc(var(--secondary-color-l) - 5%));
}

:is(button, .button):hover {
  background: hsl(var(--secondary-color-b), calc(var(--secondary-color-l) - 10%));
  color: $light-gray;
}

:is(button, .button):focus {
  background: hsl(var(--secondary-color-b), calc(var(--secondary-color-l) - 25%));
}

:is(button, .button):active {
  background: hsl(var(--secondary-color-b), calc(var(--secondary-color-l) - 5%));
}

// where are the hover styles?

.button.visited {
  border-color: hsl(var(--secondary-color-b), calc(var(--secondary-color-l) - 5%));
}

.button.hollow {
  // font-weight: bold;
  background-color: transparent;
  border: 2px solid $secondary-color;
  color: $secondary-color;
  transition: 0.5s ease;
}

.button.hollow:hover {
  background: $secondary-color;
  color: $light-gray;
  border-color: $secondary-color;
}

.button.hollow:focus {
  border-color: hsl(var(--secondary-color-b), calc(var(--secondary-color-l) - 25%));
}

.button.hollow:active {
  border-color: hsl(var(--secondary-color-b), calc(var(--secondary-color-l) - 5%));
}
