/*------------------------------------*\
    #LINKS
\*------------------------------------*/

a {
  text-decoration: none;
}

a:where(:hover, :focus) {
  text-decoration: underline;
}

.hidden-link {
  color: var(--black);
}