/*------------------------------------*\
    #TEXT
\*------------------------------------*/

/**
 * Paragraph base styles
 */
/* p {
} */

/**
 * Blockquote base styles
 */
/* blockquote {
} */

/**
 * Horizontal rule base styles
 */

/* hr {
  I need something here for a default
} */

.tasks__divider {
  border: none; // we overwrite this next
  border-bottom: 2px solid $secondary-color;
  width: calc(100% - 2rem);
  grid-row: 5;
  grid-column: 1/4;

  @media (min-width: $breakpoint__medium) {
    grid-column: 1/6;
  }

  @media (min-width: $breakpoint__medium--half-step) {
    grid-column: 1/8;
  }
}

.tasks__divider--cross {
  border-left: 2px solid $secondary-color;
  border-right: 2px solid $secondary-color;
  width: 4px;
  background: $white;
  grid-row: 5;
  grid-column: 1/4;
  justify-self: center;
  transform: skewX(-15deg); // guess and check

  @media (min-width: $breakpoint__medium) {
    grid-column: 1/6;
  }

  @media (min-width: $breakpoint__medium--half-step) {
    grid-column: 1/8;
  }
}

.cross__wrapper {
  width: calc(100% - 2rem);
  display: grid;
  place-items: center;
  margin-inline: auto;

  > * {
    grid-row: 1;
    grid-column: 1;
  }

  .cross__hr {
    width: 100%; // I dont know why but I have to double this
  }

  .cross__divider {
    border-left: 2px solid $secondary-color;
    border-right: 2px solid $secondary-color;
    width: 0.8rem;
    height: 1.6rem;
    background: $white;
    transform: skewX(-15deg); // guess and check
  }
}

// can I do more of this with an @extend
.swiss::before {
  @media (min-width: $breakpoint__medium) {
    content: ""; // show up
    width: calc(50% - 1em); // leave space for the gap
    border: 0.5rem solid #e6e6e6; // 📣 document this
  }
}

.swiss {
  margin-bottom: 1rem;
  border: 0.5rem solid #e6e6e6;
  // width: 100%; this overcooks the width on small devices
  display: flex; // im not quite sure how this is working but its needed

  @media (min-width: $breakpoint__medium) {
    border: none;
  }
}

.swiss::after {
  @media (min-width: $breakpoint__medium) {
    content: "";
    width: calc(50% - 1em);
    border: 0.5rem solid #e6e6e6;
    margin-left: $global-margin * 2;
  }
}

/**
 * Selection styles
 */
/* ::-moz-selection {
 // Gecko Browsers
} */

/* ::selection {
  // WebKit/Blink Browsers
} */
