.bg-black {
  background: var(--black);
  color: var(--white);

    // I think this is the currently the same as regular so it's not needed
    a {
        color:var(--primary-color); // 1:5.62 
    }

    a:where(:hover, :focus) {
        text-decoration: underline;
    }

  .hidden-link {
    color: var(--white);
  }
}
