// I cant use either blue here should this actually be used?

/* .bg-dark-gray {
  background: var(--dark-gray);

  a {
    color: var(--white);
  }

  a:hover {
    color: var(--light-gray);
  }
}
 */