<div class="bg-light-gray ngm-top gm-bottom shadow">
    {{!-- list these to change the info --}}

    {{> molecules-hero }}
    {{> molecules-hero }}{{!-- I just write in the pieces of this the other way around --}}

    {{> molecules-header-contact }}
</div>