{{!-- well this is straigh garbage --}}
<div class="grid-container">
    <div class="grid-x grid-padding-x gp-tb">
        <div class="cell gm-tb">

            <div class="grid-x grid-padding-x gm-tb">
                {{> molecules-services-image }}

                {{> molecules-services-text }}
            </div>
        </div>
    </div>
</div>