<div class="summit__contact--service">
  {{! are these buttons? }}
  <a href="tel:033669818">
    <div class="summit__contact--icon">
      {{> atoms-phone }}
    </div>
    <span class="summit__contact--text">
      Call us today to discuss your project 366 9818
    </span>
  </a>
</div>