@charset "UTF-8";
/*------------------------------------*\
    #TABLE OF CONTENTS
\*------------------------------------*/
/**
 * ABSTRACTS..............................Declarations of Sass variables & mixins
 * BASE...................................Default element styles
 * LAYOUT.................................Layout-specific styles
 * COMPONENTS.............................Component styles
 * UTILITIES..............................Utility classes
 */
/*------------------------------------*\
    #ABSTRACTS
\*------------------------------------*/
/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/
/*------------------------------------*\
    #COLORS
\*------------------------------------*/
:root {
  --primary-color-b: 195.8, 72.6%;
  --primary-color-l: 42.9%;
  --primary-color: hsl(195.8, 72.6%, 42.9%);
  --secondary-color-b: 197.3, 100%;
  --secondary-color-l: 26.5%;
  --secondary-color: hsl(197.3, 100%, 26.5%);
  --priest-blend: linear-gradient(184deg, rgba(30, 141, 183, 1) 0%, rgba(0, 96, 135, 1) 50%);
  --black: hsl(0, 0%, 4%);
  --blackish: hsl(0, 0%, 13%);
  --dark-gray: hsl(0, 0%, 54%);
  --medium-gray: hsl(0, 0%, 79%);
  --light-gray: hsl(0, 0%, 90%);
  --white: hsl(0, 0%, 100%);
}

/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/
/**
 * Font Family
 */
:root {
  --major-font-family: "Roboto Slab", serif;
  --body-font-family: "Helvetica Neue", Helvetica, system-ui, sans-serif;
  --github-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/**
 * Font Sizing
 */
:root {
  --h1-fs: 2.5rem;
  --h2-fs: 2.125rem;
  --h3-fs: 1.75rem;
  --h4-fs: 1.5rem;
  --h5-fs: 1.25rem;
  --h6-fs: 1rem;
  --sm-fs: 0.75rem;
  --h-lh: 1.35em;
}

/**
 * Line Height
 */
/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/
/**
 * Max Width
 */
:root {
  --general-measure: 30rem;
  --header-menu-size: 56rem;
  --page-width: 77rem;
}

/*------------------------------------*\
    #SPACING
\*------------------------------------*/
/**
 * Spacing and offsets
 * 1) Used to space grids and body padding
 */
:root {
  --global-margin: 1rem;
  --global-padding: 1rem;
  --global-grid-gap: var(--global-margin);
}

/*------------------------------------*\
    #BORDERS
\*------------------------------------*/
:root {
  --backed-radius: 0.5rem;
}

/*------------------------------------*\
    #ANIMATION
\*------------------------------------*/
/*------------------------------------*\
    #BREAKPOINTS
\*------------------------------------*/
/*------------------------------------*\
    #MIXINS
\*------------------------------------*/
/*------------------------------------*\
    #COLORS
\*------------------------------------*/
/**
 * In this file, we take the literal colors from our palette (defined in variables.scss)
 * and define them against variables that we can utilise anywhere throughout the project.
 */
/*------------------------------------*\
    #GLOBAL TEXT COLOR
\*------------------------------------*/
body {
  background: var(--white);
  color: var(--black);
}

@media (prefers-color-scheme: dark) {
  body {
    background: var(--black);
    color: var(--white);
  }
}
/*------------------------------------*\
    #LINKS
\*------------------------------------*/
a {
  color: var(--secondary-color);
}
@media (prefers-color-scheme: dark) {
  a {
    color: var(--primary-color);
  }
}

a:where(:hover, :focus) {
  color: var(--primary-color);
}

/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/
button, .button {
  background: var(--secondary-color);
  color: var(--white);
}

.hollow {
  background-color: transparent;
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}

/*------------------------------------*\
    #FORMS
\*------------------------------------*/
[type=text],
[type=password],
[type=date],
[type=datetime],
[type=datetime-local],
[type=month],
[type=week],
[type=email],
[type=number],
[type=search],
[type=tel],
[type=time],
[type=url],
[type=color],
textarea {
  background: var(--light-gray);
}

html {
  font-size: 16px;
}

body {
  font-family: var(--github-font-family);
  font-weight: 400;
  line-height: 1.65;
  line-height: 1.5rem;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: var(--major-font-family);
  font-weight: 400;
  line-height: 1.15em;
  margin-block-start: 0;
  margin-block-end: 1.15em;
}

h1 {
  margin-top: 0;
  font-size: var(--h1-fs);
}

h2 {
  font-size: var(--h2-fs);
}

h3 {
  font-size: var(--h3-fs);
}

h4 {
  font-size: var(--h4-fs);
}

h5 {
  font-size: var(--h5-fs);
}

h6 {
  font-size: var(--h6-fs);
}

small,
.text_small {
  font-size: var(--sm-fs);
}

p {
  margin-bottom: 1.25rem;
}

blockquote {
  margin: 0;
}
blockquote > :is(h1, h2, h3, h4, h5, h6, p)::before {
  content: '"';
  font-family: var(--major-font-family);
  font-size: 2.488rem;
  line-height: 1rem;
  font-weight: bold;
  margin-right: calc(var(--global-margin) / 2);
}
blockquote > :is(h1, h2, h3, h4, h5, h6, p) {
  margin-block-end: 1rem;
}
blockquote > footer {
  font-size: 1.2rem;
  font-weight: bold;
}

/*------------------------------------*\
    #BASE
\*------------------------------------*/
/*------------------------------------*\
    #BODY
\*------------------------------------*/
/**
 * HTML base styles
 * 1) Set the html element's height to at least 100% of the viewport.
 *    This is used to achieve a sticky footer
 */
html {
  min-height: 100vh;
  /* 1 */
}

/**
 * Body base styles
 * 1) Set the body element's height to at least 100% of the viewport.
 *    This is used to achieve a sticky footer
 */
body {
  margin: 0;
}

/*------------------------------------*\
    #LINKS
\*------------------------------------*/
a {
  text-decoration: none;
}

a:where(:hover, :focus) {
  text-decoration: underline;
}

:is(.backed, .backed__svg svg) {
  padding: 0.5rem 1rem;
  transition: 0.5s ease;
  border-radius: var(--backed-radius);
}

:is(.backed, .backed__svg svg):where(:hover, :focus) {
  background: rgba(84, 84, 84, 0.5);
}

.hidden-link {
  color: var(--black);
}

#menu__big a {
  display: block;
  text-decoration: none;
  border-bottom: 5px solid transparent;
}
#menu__big a:where(:hover, :focus) {
  color: var(--light-gray);
  background: hsl(var(--secondary-color-b), calc(var(--secondary-color-l) - 10%));
  clip-path: polygon(1rem 0, 100% 0, calc(100% - 1rem) 100%, 0 100%);
  border-color: hsl(var(--secondary-color-b), calc(var(--secondary-color-l) - 20%));
}

/*------------------------------------*\
    #LISTS
\*------------------------------------*/
/**
 * 1) List base styles
 */
/**
  * Remove list styles from unordered and ordered lists
  */
ul {
  list-style: none;
}

nav, #menu__big {
  font-size: 1.2em;
  font-family: var(--major-font-family);
  letter-spacing: 0.1rem;
}

.menu {
  max-width: --header-menu-size;
  margin-inline: auto;
  margin-block: 0;
  justify-content: space-between;
  padding: 0;
  list-style: none;
  position: relative;
  display: flex;
  place-items: space-between;
  gap: 0.5rem;
  white-space: nowrap;
}

.menu li > a {
  padding: var(--global-padding);
  display: flex;
  place-items: flex-end;
  gap: 0.5rem;
}
.menu li svg {
  min-width: 1rem;
  max-height: 2.4rem;
  fill: var(--white);
  margin-inline-end: 0.25rem;
}

#menu_small {
  width: 100%;
  background: hsl(var(--primary-color-b), calc(var(--primary-color-l) - 10%));
  display: inline-block;
  transition: 2s ease;
  position: relative;
  z-index: 1;
  margin-bottom: 0;
}
#menu_small > ul {
  padding-left: 0;
  margin: 0;
}
#menu_small > ul > li {
  list-style: none;
}
#menu_small > ul > li > a {
  display: flex;
  place-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-decoration: none;
}
#menu_small > ul > li > a > svg {
  max-height: 3rem;
  fill: currentColor;
}
@media (min-width: 56rem) {
  #menu_small {
    display: none;
  }
}

.active {
  top: 0;
}

.inactive {
  top: -100%;
}

#menu_toggle {
  z-index: 2;
  position: relative;
  display: grid;
}
@media (min-width: 56rem) {
  #menu_toggle {
    display: none;
  }
}

#menu__big {
  display: none;
}
@media (min-width: 56rem) {
  #menu__big {
    display: block;
    width: 100%;
    max-width: var(--page-width);
    margin-inline: auto;
    background: var(--secondary-color);
  }
}
#menu__big a {
  padding-inline: 2rem;
}

/*------------------------------------*/
/*------------------------------------*/
.testol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

.testol > li {
  display: table;
  counter-increment: item;
  margin-bottom: 0.6em;
}

.testol > li:before {
  content: counters(item, ".") ") ";
  padding-right: 0.6em;
}

.testol > li > ol {
  counter-reset: item;
  list-style-type: none;
}

.testol > li > ol > li {
  counter-increment: item;
  margin: 0;
  display: table;
}

.testol > li > ol > li:before {
  content: counters(item, ".") ") ";
  display: table-cell;
}

/* no because I can do the alignment I want
.testol > li > ol > li::marker {
  content: counters(item, ".") " ";
} */
/*------------------------------------*/
/*------------------------------------*/
.terms {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
  max-width: 45rem;
}
.terms > li {
  display: table;
  counter-increment: item;
  margin-block-end: 2rem;
  padding-block-start: 1rem;
  border-block-start: 1px solid var(--primary-color);
}
.terms > li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;
  color: var(--iron);
}
.terms li > ul {
  margin-block-start: 0.5rem;
  padding-inline-start: 0.25rem;
  color: var(--iron);
}
.terms li > ol > li {
  margin: 0;
  counter-increment: number;
}
.terms li > ol > li:before {
  content: counters(number, ".") ". ";
}
.terms li > ol > li::marker {
  content: counters(item) ". ";
}

.ol__alpha {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 45rem;
}
.ol__alpha > li {
  counter-increment: letter !important;
  display: table;
  padding-block-start: 1rem;
}
.ol__alpha > li::before {
  content: "(" counter(letter, lower-alpha) ") " !important;
  padding-inline-end: 0.5rem;
}

/*------------------------------------*/
/*------------------------------------*/
.gridlist {
  list-style-type: none;
  counter-reset: grid;
  /*   > li > ol > li {
      display: grid;
    }

    li > ol > li:before {
      content: counters(grid, ".") ". ";
    } */
}
.gridlist > li:before {
  content: counters(grid, ".") ". ";
  grid-row: 1;
  grid-column: -1;
}
.gridlist > li {
  counter-increment: grid;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/*------------------------------------*/
/*------------------------------------*/
.gridlist {
  list-style-type: none;
  counter-reset: fl;
  max-width: 30rem;
}
.gridlist > li:before {
  content: counters(fl, ".") ". ";
  grid-row: 1;
  grid-column: -1;
}
.gridlist > li {
  counter-increment: fl;
  display: flex;
}
.gridlist > li > ol {
  margin-block-start: 1.5rem;
}
.gridlist > li > ol > li:before {
  content: counters(fl, ".") ". ";
  background: lightyellow;
}
.gridlist > li > ol > li::marker {
  color: hotpink;
}

/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/
/*------------------------------------*\
    #FORMS
\*------------------------------------*/
/**
 * 1) Form element base styles
 */
/**
 * Fieldset base styles
 */
/* fieldset {
 // 📣 I need to look into the almanac on this
} */
/**
 * Legend base styles
 */
/* legend {
  // 📣 look this up
} */
/**
 * Label base styles
 */
/* label {
} */
/**
 * Add font size 100% of form element and margin 0 to these elements
 */
/* button, input, select, textarea {
} */
/**
 * Text area base styles
 */
/* textarea {
	resize: none;
} */
/**
 * Input  and text area base styles
 */
/* input, textarea {

    &:focus {
	}

    &:disabled {
    }
} */
/**
 * Remove webkit appearance styles from these elements
 */
/* input[type=text], input[type=search], input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration, input[type=url], input[type=number], textarea {
	-webkit-appearance: none;
} */
/**
 * Checkbox and radio button base styles
 */
/* input[type="checkbox"],
input[type="radio"] {
} */
/**
 * Search input base styles
 */
/* input[type="search"] {
} */
/**
 * Select
 * 1) Remove default styling
 */
/* select {

	&:focus {
	}
}
 */
/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/
/**
 * Button and submit inputs reset
 * 1) These should be styled using c-btn
 */
button, .button {
  cursor: pointer;
  border: none;
  padding: calc(var(--global-padding) / 2) var(--global-padding);
  background: var(--secondary-color);
  color: var(--white);
  font-family: var(--major-font-family);
  font-weight: bold;
  letter-spacing: 1px;
  font-size: var(--h5-fs);
}

.button {
  display: inline-block;
}

.button.hollow {
  background-color: transparent;
  transition: 0.5s ease;
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}
@media (prefers-color-scheme: dark) {
  .button.hollow {
    color: var(--primary-color);
    border-color: var(--primary-color);
  }
}

/*------------------------------------*\
  #INTERACTION
\*------------------------------------*/
:is(button, .button):visited {
  background: hsl(var(--secondary-color-b), calc(var(--secondary-color-l) - 5%));
  border-color: hsl(var(--secondary-color-b), calc(var(--secondary-color-l) - 5%));
}

:is(button, .button):hover {
  background: hsl(var(--secondary-color-b), calc(var(--secondary-color-l) - 10%));
  color: var(--light-gray);
}

:is(button, .button):focus {
  background: hsl(var(--secondary-color-b), calc(var(--secondary-color-l) - 25%));
}

:is(button, .button):active {
  background: hsl(var(--secondary-color-b), calc(var(--secondary-color-l) - 5%));
}

.button.hollow:hover {
  background: var(--secondary-color);
  color: var(--light-gray);
  border-color: var(--secondary-color);
}

.button.hollow:focus {
  border-color: hsl(var(--secondary-color-b), calc(var(--secondary-color-l) - 25%));
}

.button.hollow:active {
  border-color: hsl(var(--secondary-color-b), calc(var(--secondary-color-l) - 5%));
}

/*------------------------------------*\
  #MENU__SMALL
\*------------------------------------*/
.small_menu--opener {
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding-top: var(--global-padding);
  padding-bottom: var(--global-padding);
  transition: 1s ease;
}

.small_menu--opener:hover {
  color: var(--light-gray);
  background: hsl(var(--primary-color-b), calc(var(--primary-color-b) - 10%));
}

/*------------------------------------*\
    #MAIN ELEMENT
\*------------------------------------*/
/**
 * Main element
 */
[role=main] {
  display: block;
  flex: 1 0 auto;
}

main {
  max-width: 100vw;
}

/*------------------------------------*\
    #MEDIA
\*------------------------------------*/
/**
 * Responsive image styling
 * 1) Allows for images to flex with varying screen size
 */
img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.img-100,
.img-100 img {
  width: 100%;
}

.img-100-high {
  overflow-x: hidden;
}

.img-100-high img {
  height: 100%;
}

iframe {
  max-width: 100%;
}

svg {
  width: 100%;
  height: 100%;
  max-width: 5rem;
}

/*------------------------------------*\
  #SHADOWS
\*------------------------------------*/
.shadow {
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
}

.shadow-darker {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.32), 0 2px 10px 0 rgba(0, 0, 0, 0.24);
}

.attachment-post-thumbnail {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

/*------------------------------------*\
    #TEXT
\*------------------------------------*/
/**
 * Paragraph base styles
 */
/* p {
} */
/**
 * Blockquote base styles
 */
/* blockquote {
} */
/**
 * Horizontal rule base styles
 */
/* hr {
  I need something here for a default
} */
.centered {
  text-align: center;
}

/*------------------------------------*\
  #CROSS
\*------------------------------------*/
hr {
  border-color: var(--secondary-color);
}

.cross__wrapper {
  width: calc(100% - 2rem);
  display: grid;
  place-items: center;
  max-width: var(--page-width);
  margin-inline: auto;
  margin-block-end: 3rem;
}
.cross__wrapper > * {
  grid-row: 1;
  grid-column: 1;
}
.cross__wrapper .cross__hr {
  width: 100%;
}
.cross__wrapper .cross__divider {
  border-left: 2px solid var(--secondary-color);
  border-right: 2px solid var(--secondary-color);
  width: 0.8rem;
  height: 1.6rem;
  background: var(--white);
  transform: skewX(-15deg);
}
@media (prefers-color-scheme: dark) {
  .cross__wrapper .cross__divider {
    background: var(--black);
  }
}

/*------------------------------------*\
    #BACKGROUNDS
\*------------------------------------*/
.bg-black {
  background: var(--black);
  color: var(--white);
}
.bg-black a {
  color: var(--primary-color);
}
.bg-black a:where(:hover, :focus) {
  text-decoration: underline;
}
.bg-black .hidden-link {
  color: var(--white);
}

/* .bg-dark-gray {
  background: var(--dark-gray);

  a {
    color: var(--white);
  }

  a:hover {
    color: var(--light-gray);
  }
}
 */
.bg-medium-gray {
  background: var(--medium-gray);
  /* a {
      color: var(--secondary-color); // 1:4.2
  } */
}

.bg-light-gray {
  background: var(--light-gray);
  /* a {
      color: var(--secondary-color); // 1:5.56
    } */
}

.bg-secondary, header {
  background: var(--secondary-color);
  color: var(--white);
}
.bg-secondary a, header a {
  color: var(--white);
  text-decoration: underline;
}
.bg-secondary a:where(:hover, :focus), header a:where(:hover, :focus) {
  color: var(--light-gray);
  transition: 0.5s ease;
}

/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/
/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/
/*------------------------------------*\
  #HERO
\*------------------------------------*/
.hero {
  background: var(--secondary-color);
  display: flex;
  flex-direction: column;
}
.hero > .hero__logo {
  background: var(--primary-color);
  display: grid;
  place-items: center;
  z-index: 3;
  position: relative;
}
.hero > .hero__logo > a {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
@media (min-width: 40em) {
  .hero > .hero__logo > a {
    max-width: 30rem;
    margin-top: calc(var(--global-margin) * 2);
    margin-bottom: calc(var(--global-margin) * 2);
  }
}
.hero > .hero__logo > a > svg {
  display: block;
  max-width: 50%;
  margin: 2rem auto;
  fill: var(--white);
  width: 100%;
}

.hero__logo a:hover {
  background: hsl(var(--primary-color-b), calc(var(--primary-color-l) - 10%));
  transition: 0.5s ease;
}
.hero__logo a:hover svg {
  fill: var(--light-gray);
}

/*------------------------------------*\
  #SUMMIT
\*------------------------------------*/
.summit__backer {
  background: var(--light-gray);
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 2rem), 0 100%);
  margin-block-end: 3rem;
}
@media (prefers-color-scheme: dark) {
  .summit__backer {
    background: var(--blackish);
  }
}

#summit {
  max-width: var(--page-width);
  margin-inline: auto;
  margin-bottom: 2rem;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 1rem 1fr;
}
@media (min-width: 40em) {
  #summit {
    grid-template-columns: 1fr 1fr 1fr;
    margin-block-end: calc(var(--global-margin) * 4);
  }
}

.summit__info {
  grid-row: 1;
  grid-column: 1/4;
  padding: var(--global-padding);
  max-width: var(--general-measure);
  justify-self: center;
}
@media (min-width: 40em) {
  .summit__info {
    grid-column: 1/3;
  }
}
.summit__info h1 {
  margin-top: 2.75rem;
  font-size: var(--h3-fs);
  line-height: var(--h-lh);
}
@media (min-width: 40em) {
  .summit__info h1 {
    font-size: var(--h2-fs);
  }
}

.summit__about {
  grid-row: 3;
  grid-column: 1/4;
  justify-self: center;
  margin-bottom: var(--global-margin);
  padding-inline: var(--global-padding);
}
@supports not (padding-inline: 1rem) {
  .summit__about {
    padding-left: var(--global-padding);
    padding-right: var(--global-padding);
  }
}
@media (min-width: 40em) {
  .summit__about {
    width: calc(100% - 2rem);
    grid-column: 2/4;
    margin-bottom: calc(var(--global-margin) * 2);
  }
}
.summit__about h2 {
  font-size: var(--h3-fs);
  line-height: var(--h-lh);
  max-width: 30rem;
  margin: 2.75rem auto 1.05rem auto;
}
@media (min-width: 40em) {
  .summit__about h2 {
    padding-inline: calc(var(--global-padding) * 2);
  }
}
.summit__about p {
  max-width: 30rem;
}
@media (min-width: 40em) {
  .summit__about p {
    padding-inline: calc(var(--global-padding) * 2);
    margin: var(--global-margin) auto;
  }
}

.summit__video {
  grid-row: 2;
  grid-column: 1/4;
  margin: 1rem;
  max-width: calc( var(--general-measure) * 2 );
  aspect-ratio: 16/9;
}
@media (min-width: 40em) {
  .summit__video {
    grid-column: 1/4;
    width: calc(100% - 2rem);
    margin: 2rem auto;
  }
}
.summit__video iframe {
  clip-path: polygon(2rem 0%, 100% 0%, calc(100% - 2rem) 100%, 0% 100%);
}

.summit__videobacker {
  grid-row: 2;
  grid-column: 1/4;
  z-index: -1;
  clip-path: polygon(2rem 0, 100% 0, 100% calc(100% - 2rem), 0 100%);
  max-width: calc(var(--general-measure) * 2);
  justify-self: end;
  aspect-ratio: 16/9;
  display: grid;
  place-items: center;
}
@media (min-width: 40em) {
  .summit__videobacker {
    grid-column: 2/4;
    clip-path: polygon(2rem 0, 100% 0, calc(100% - 2rem) calc(100% - 2rem), 0 100%);
  }
}
.summit__videobacker > * {
  grid-row: 1;
  grid-column: 1;
}
.summit__videobacker .gatsby-image-wrapper {
  height: 100%;
}

.blue-backer {
  background: var(--secondary-color);
  width: 100%;
  height: 100%;
  z-index: 1;
  mix-blend-mode: multiply;
  aspect-ratio: 16/9;
}

/* .summit__videobacker--color {
  grid-row: 2;
  grid-column: 1/4;
  z-index: -1;
  clip-path: polygon(2rem 0, 100% 0, 100% calc(100% - 2rem), 0 100%);
  background: var(--secondary-color);
  mix-blend-mode: multiply;
  aspect-ratio: 16 / 9;

  @media (min-width: $breakpoint__medium) {
    grid-column: 1/4;
  }
} */
.summit__team-photos, .summit__team-photo_2, .summit__team-photo_1 {
  clip-path: polygon(0 0, calc(100% - 1rem) 0, calc(100% - 3rem) 100%, 0 100%);
  margin-bottom: var(--global-margin);
  max-width: var(--measure);
}
@media (min-width: 40em) {
  .summit__team-photos, .summit__team-photo_2, .summit__team-photo_1 {
    margin-bottom: calc(var(--global-margin) * 2);
    clip-path: polygon(2rem 0, 100% 0, calc(100% - 2rem) 100%, 0 100%);
  }
}
@media (min-width: 40em) {
  .summit__team-photos > .gatsby-image-wrapper, .summit__team-photo_2 > .gatsby-image-wrapper, .summit__team-photo_1 > .gatsby-image-wrapper {
    height: 100%;
    margin-bottom: -5rem;
  }
}

.summit__team-photo_1 {
  grid-row: 4;
  grid-column: 1/3;
  margin-right: 0.5rem;
  clip-path: polygon(0 0, calc(100% - 1rem) 0, calc(100% - 3rem) 100%, 0 100%);
}
@media (min-width: 40em) {
  .summit__team-photo_1 {
    grid-row: 3;
    grid-column: 1;
    clip-path: polygon(3rem 0, 100% 0, calc(100% - 3rem) 100%, 0 100%);
  }
}

.summit__team-photo_2 {
  grid-row: 4;
  grid-column: 2/4;
  margin-left: 0.5rem;
  justify-self: end;
  clip-path: polygon(32px 0, 100% 0, 100% 100%, 0 100%);
}
@media (min-width: 40em) {
  .summit__team-photo_2 {
    grid-row: 1;
    grid-column: 3;
    margin-block-start: 2.75rem;
    clip-path: polygon(2rem 0, 100% 0, calc(100% - 2rem) 100%, 0 100%);
  }
}

.summit__contact {
  grid-row: 5;
  grid-column: 1/4;
  margin-block-end: calc(var(--global-margin) * 2);
  max-width: 86rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media (min-width: 40em) {
  .summit__contact {
    grid-row: 4;
    grid-column: 1/4;
    margin-block-end: calc(var(--global-margin) * 4);
  }
}

.summit__contact--service {
  margin: var(--global-margin);
}
.summit__contact--service > a {
  padding-inline: 1rem;
  display: flex;
  flex-direction: row;
  color: var(--white);
  background: var(--secondary-color);
  background: var(--priest-blend);
  clip-path: polygon(2rem 0, 100% 0, calc(100% - 2rem) 100%, 0 100%);
}

.summit__contact--icon {
  padding: var(--global-padding);
  justify-self: end;
}
.summit__contact--icon svg {
  fill: currentColor;
}

.summit__contact--text {
  padding: var(--global-padding);
  display: flex;
  align-items: center;
}

.summit-contact--skew {
  grid-row: 1;
  grid-column: 1/3;
  transform: skewX(-8deg);
  background: var(--secondary-color);
  background: var(--priest-blend);
}
@media (min-width: 90em) {
  .summit-contact--skew {
    transform: skewX(-4deg);
  }
}

.summit__contact--icon {
  padding: var(--global-padding);
  justify-self: end;
}
.summit__contact--icon svg {
  fill: var(--white);
}

.summit__contact--text {
  padding: var(--global-padding);
  display: flex;
  align-items: center;
}

.summit-contact--skew {
  transform: skewX(-8deg);
  background: var(--secondary-color);
  background: linear-gradient(180deg, #1e8db7 0%, #006087 100%);
}
@media (min-width: 90em) {
  .summit-contact--skew {
    transform: skewX(-4deg);
  }
}

/*------------------------------------*\
  #SERVICE
\*------------------------------------*/
.services__all {
  display: flex;
  flex-flow: row wrap;
  column-gap: 1rem;
}
.services__all > * {
  flex: 1 1 calc(var(--general-measure) * 2);
}

.service__wrapper {
  margin-block-end: 3rem;
  max-width: var(--page-width);
  margin-inline: auto;
}

.service {
  display: grid;
  margin-bottom: 2rem;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1rem), 0 100%);
  background: var(--light-gray);
}
@media (prefers-color-scheme: dark) {
  .service {
    background: var(--blackish);
  }
}
@media (min-width: 40em) {
  .service {
    grid-template-columns: 1fr 1fr;
  }
}
.service > * {
  grid-column: 1;
}
.service > .service__image {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1rem), 0 100%);
  z-index: 2;
  grid-row: 1;
}
@media (min-width: 40em) {
  .service > .service__image {
    grid-row: 1/4;
    clip-path: polygon(0 0, 100% 0, calc(100% - 2rem) 100%, 0 100%);
  }
}
.service > .service__title--back {
  background: var(--secondary-color);
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1rem), 0 100%);
  grid-row: 1/3;
}
@media (min-width: 40em) {
  .service > .service__title--back {
    grid-column: 1/3;
    grid-row: 1;
  }
}
.service > .service__title {
  margin-block-start: 3rem;
  margin-inline-start: 3rem;
  z-index: 2;
  grid-row: 2;
}
@media (min-width: 40em) {
  .service > .service__title {
    grid-row: 1;
    grid-column: 2;
  }
}
.service > .service__title > a {
  color: var(--white);
}
.service > .service__text {
  margin-block-start: 3rem;
  margin-block-end: 1rem;
  margin-inline-start: 3rem;
  grid-row: 3;
}
@media (min-width: 40em) {
  .service > .service__text {
    grid-row: 2;
    grid-column: 2;
  }
}
.service > .service__more--back {
  grid-row: 4;
  background: var(--medium-gray);
  clip-path: polygon(0 1rem, 100% 0, 100% 100%, 0 100%);
  z-index: -1;
}
@media (min-width: 40em) {
  .service > .service__more--back {
    grid-row: 3;
    grid-column: 1/3;
  }
}
.service > .service__more {
  grid-row: 4;
}
@media (min-width: 40em) {
  .service > .service__more {
    grid-row: 3;
    grid-column: 2;
  }
}
.service > .service__more > a {
  margin-block: 1rem;
  margin-inline-start: 3rem;
}

/*------------------------------------*\
  #INDUSTRY
\*------------------------------------*/
.industry__all {
  display: flex;
  flex-flow: row wrap;
  column-gap: 1rem;
}
.industry__all > * {
  flex: 1 1 var(--general-measure);
}

.industry__wrapper {
  margin-block-end: 3rem;
  max-width: calc(var(--page-width) / 2);
  margin-inline: auto;
}

.industry {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1rem), 0 100%);
  margin-block-end: 3rem;
  background: var(--light-gray);
}
@media (prefers-color-scheme: dark) {
  .industry {
    background: var(--blackish);
  }
}
.industry > .industry__title > a {
  display: block;
  background: var(--secondary-color);
  color: var(--white);
  padding: 1rem;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1rem), 0 100%);
}
.industry > .industry__text {
  margin-inline: 1rem;
  padding-block-end: 3rem;
}

/*------------------------------------*\
  #MAP
\*------------------------------------*/
#map {
  margin-block-end: 3rem;
  padding: var(--global-padding);
}
#map > iframe {
  margin-inline: var(--global-margin);
  width: 100%;
  max-width: var(--page-width);
  margin-inline: auto;
  display: block;
}

/*------------------------------------*\
  #TESTIMONIALS
\*------------------------------------*/
#testimonials {
  display: grid;
  background: var(--light-gray);
}
@media (prefers-color-scheme: dark) {
  #testimonials {
    background: var(--black);
  }
}
#testimonials svg {
  fill: var(--secondary-color);
}
#testimonials > .stars {
  display: grid;
  grid-template-rows: 1fr 1.55fr;
}
#testimonials > .stars > * {
  grid-column: 1;
}
#testimonials > .stars > .svgs {
  grid-row: 1/3;
  justify-self: center;
  display: flex;
  justify-content: space-around;
  gap: var(--global-grid-gap);
}
#testimonials > .stars > .star__back {
  grid-row: 2;
  background: var(--medium-gray);
}
@media (prefers-color-scheme: dark) {
  #testimonials > .stars > .star__back {
    background: var(--blackish);
  }
}
#testimonials > blockquote {
  padding-block: 3rem;
  text-align: center;
  background: var(--medium-gray);
}
@media (prefers-color-scheme: dark) {
  #testimonials > blockquote {
    background: var(--blackish);
  }
}

/*------------------------------------*/
/*------------------------------------*/
.single__cover {
  max-width: var(--page-width);
  margin-inline: auto;
  margin-block-end: 3rem;
  display: block;
}

.single__title {
  max-width: var(--page-width);
  margin-inline: auto;
  margin-block-end: 3rem;
  display: flex;
  flex-flow: row wrap;
}
.single__title > * {
  flex: 1 1;
}

/*------------------------------------*/
/*------------------------------------*/
.ic {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 30rem));
}

.i {
  display: grid;
}
.i > * {
  grid-column: 1;
}

.im {
  grid-row: 1/3;
  filter: drop-shadow(1rem 1rem 0.5rem rgba(0, 0, 0, 0.5));
}
.im > img {
  clip-path: polygon(0 1rem, 100% 0, 100% calc(100% - 1rem), 0 100%);
}

.it {
  grid-row: 2;
  z-index: 2;
  background: whitesmoke;
  opacity: 0.9;
  margin: 1rem;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1rem), 0 100%);
  display: grid;
}
.it > h4, .it p {
  padding: 1rem;
}

.it__more {
  background: darkblue;
  color: white;
  padding: 1rem;
  padding-block-end: 2rem;
}

/*------------------------------------*\
  #FOOTER
\*------------------------------------*/
footer {
  background: var(--secondary-color);
  color: var(--white);
  border-top: 0.5rem solid var(--primary-color);
  align-self: end;
  margin-bottom: 0;
}
footer svg {
  fill: var(--white);
}
footer a {
  color: var(--white);
  text-decoration: underline;
}
footer ul {
  display: flex;
  flex-flow: row wrap;
  max-width: 75rem;
  margin-inline: auto;
  padding: 1rem 1rem 3rem;
  justify-content: flex-start;
  gap: var(--global-grid-gap);
}
footer ul > * {
  flex: 1 1;
}
footer .cross__wrapper .cross__hr {
  border-color: var(--white);
}
footer .cross__wrapper .cross__divider {
  border-color: var(--white);
  background: var(--secondary-color);
}

:is(.footer__backed, .footer__services, .footer__industries, .footer__copyright, .footer__contact--method) a:where(:hover, :focus) {
  background: hsl(var(--secondary-color-b), calc(var(--secondary-color-l) - 20%));
}

footer .backed__svg svg:hover {
  background: hsl(var(--secondary-color-b), calc(var(--secondary-color-l) - 20%));
}

.footer__contacts {
  max-width: var(--page-width);
  padding-inline: var(--global-padding);
  margin-inline: auto;
  margin-block: 3rem;
  display: flex;
  flex-flow: row wrap;
  gap: var(--global-grid-gap);
  justify-content: space-around;
}
.footer__contacts > .footer__contact--method a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 1rem;
  transition: 0.5s ease;
  border-radius: var(--backed-radius);
}
.footer__contacts svg {
  grid-column: 1;
  grid-row: 1;
  align-self: center;
}
@media (min-width: 90em) {
  .footer__contacts svg {
    justify-self: end;
  }
}
.footer__contacts p {
  grid-column: 1;
  grid-row: 2;
  align-self: center;
}
@media (min-width: 90em) {
  .footer__contacts p {
    grid-column: 2;
    grid-row: 1;
    justify-self: start;
  }
}

.footer__logo {
  max-width: 50%;
  margin-inline: auto;
}
.footer__logo svg {
  display: block;
  margin-inline: auto;
  width: calc(100% - 2rem);
  max-width: 20rem;
  margin-block-end: 3rem;
}

.footer__copyright {
  text-align: center;
}
.footer__copyright a {
  display: inline-block;
  margin-block-end: 3rem;
}

.service-grid {
  display: grid;
}

.service-grid img,
.service-grid h4 {
  grid-column: 1;
  grid-row: 1;
}

.service-grid-bg {
  background-color: rgba(10, 127, 189, 0.7);
  align-self: end;
}
.service-grid-bg > a {
  color: var(--white);
}
.service-grid-bg > a:hover {
  color: var(--light-gray);
}

/*------------------------------------*\
    #UTILITIES
\*------------------------------------*/
/*------------------------------------*\
    #VISIBILITY CLASSES
\*------------------------------------*/
/**
 * Is Hidden
 * 1) Completely remove from the flow and screen readers.
 */
.u-is-hidden {
  display: none !important;
  visibility: hidden !important;
}

/**
 * Is Visibly Hidden
 * 1) Completely remove from the flow but leave available to screen readers.
 */
.u-is-vishidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

@media (min-width: 90em) {
  .hide-for-large {
    display: none !important;
  }
}

.show-for-large {
  display: none;
}
@media (min-width: 90em) {
  .show-for-large {
    display: block;
  }
}

/*------------------------------------*\
    #SPACING
\*------------------------------------*/

/*# sourceMappingURL=style.css.map */
