hr
<hr />

{{!-- this needs all the wrapping --}}
<div class="tasks__wrapper">
    <section class="tasks">
        <hr class="tasks__divider" />
        <div class="tasks__divider--cross">{{!-- stay gold --}}</div>
    </section>
</div>

<hr class="swiss" />