<header class="hero">
    {{> molecules-logo }}

    {{> molecules-primary-nav }}

    <div id="menu_toggle" class="bg-secondary shadow-darker text-center">
        {{> molecules-small-menu }}
    </div>


    {{> molecules-big-menu }}
</header>
