<div id="testimonials">
  <h3 class="centered">Testimonials</h3>

  <div class="stars">
    <div class="star__back">{{!-- stay gold ---}}</div>
    <div class="svgs">
      {{> atoms-star }}
      {{> atoms-star }}
      {{> atoms-star }}
      {{> atoms-star }}
      {{> atoms-star }}
    </div>
  </div>

  <blockquote class="quoted">
    <p>lorem ipsum</p>
    <cite>Name</cite>
  </blockquote>
</div>