<section class="diatomic-card__text">
  <div class="diatomic-card__text--container">
    <h4 class="">
      <a href="#">
        Title
      </a>
    </h4>

    <p>Content</p>

    <a href="#" class="diatomic-card__text--more">
      More about Title
    </a>
  </div>
</section>