<section class="it">
  <div class="it__container">
    <h4 class="">
      <a href="#">
        Title
      </a>
    </h4>

    <p>Content</p>

    <a href="#" class="it__more">
      More about Title
    </a>
  </div>
</section>