<div class="service__title--back">{{! stay gold --}}</div>
<h4 class="service__title">
  <a href="#">
    Title
  </a>
</h4>

<div class="service__text">
  <p>{{ excerpt }}</p>
  <a href="#" class="gm-3 button hollow">
    More about Title
  </a>
</div>