<div class="services-text bg-light-gray shadow">
    <div class="bg-primary gp-4"><!-- why does this have a border radius -->
        <h4>
            <a href="#">
                Title
            </a>
        </h4>
    </div>

    <div class="gp-4">
        Content
    </div>

    <a href="#" class="gm-3 button hollow">
        More about Title
    </a>
</div>