{{> organisms-header }}
<main role="main">

	{{> organisms-summit }}

	<div class="services__all">
		{{> organisms-service }}
		{{> organisms-service }}
		{{> organisms-service }}
		{{> organisms-service }}
		{{> organisms-service }}
		{{> organisms-service }}
		{{> organisms-service }}
		{{> organisms-service }}
	</div>
	
	<h2>Industries</h2>
	<div class="industry__all">
		{{> organisms-industry }}
		{{> organisms-industry }}
		{{> organisms-industry }}
	</div>

</main>

{{> organisms-map }}
{{> organisms-testimonials }}

{{> organisms-footer }}
