{{> organisms-header }}
<main role="main">

	{{> organisms-industry-two }}
	{{> organisms-industry-two }}
	{{> organisms-industry-two }}
	{{> organisms-industry-two }}
	{{> organisms-industry-two }}
	{{> organisms-industry-two }}
	{{> organisms-industry-two }}
	{{> organisms-industry-two }}

</main>

{{> organisms-footer }}