{{> organisms-header }}
<main role="main" class="page">
  <p>Cover</p>

  <hr>
  {{!-- {{> atoms-cross }} --}}

  <h1>Service</h1>
  <p>lorem ipsum</p>

  {{> molecules-block }}
  {{> molecules-block }}

  <section>
    <p>gallery</p>
  </section>
</main>

{{> organisms-footer }}