{{> organisms-header }}
{{> molecules-header-contact }}
<main role="main" class="single">
  <img src="{{ src }}" alt="{{ alt }}" class="single__cover"/>

  {{> atoms-cross-hr }}

  <div class="single__title">
    <h1>Service</h1>
    <p>lorem ipsum</p>
  </div>

  {{> molecules-block }}

</main>

{{> organisms-footer }}