<div id="menu_toggle" className="bg-secondary shadow-darker text-center">
  <div className="small_menu--icon">
    {{!-- this cant be a line higher as its a display grid overwrite --}}
    <span className="small_menu--icon-topline"></span>
    <span className="small_menu--icon-bottomline"></span>
  </div>
  <button className="small_menu--opener" onClick="{openUp}">
    Menu
  </button>
</div>