/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/

main {
  max-width: 100vw;
}

.menu {
  max-width: 70rem;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: auto;
  margin-inline-end: auto;
  justify-content: space-between;
  padding: 0;
  list-style: none;
  position: relative;
  display: flex;
  // place-items: flex-end;
  place-items: space-between;
  gap: 0.5rem;
  white-space: nowrap; // don't let lines break
}

.menu li {
  > a {
    padding: var(--global-padding); // lets start setting a vertical rythm
    display: flex; // the only one using this is with the icon but it doesnt hurt the rest
    place-items: flex-end;
    gap: 0.5rem;
  }

  svg {
    min-width: 1rem; // safari and edge need a width
    max-height: 2.4rem; // guess and check

    fill: var(--white);
    margin-inline-end: 0.25rem;
  }

  // can I do something with is to get the svg and display it as a flex?
}

/*------------------------------------*\
  #SUMMIT
\*------------------------------------*/

/* .summit__backer {
  // this is all under full so I remember it only displays at this size
  @media (min-width: 144em) {
    background: #efefef; // 📣
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 3em; // guess and check
    clip-path: polygon(
      0 0,
      100% 0,
      100% calc(100% - 128px),
      0 100%
    ); // guess and check
  }
} */

#summit {
  background: #efefef; // 📣
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 32px), 0 100%);
  margin: 0 auto;
  margin-bottom: 2rem;
  grid-row: 1;
  grid-column: 1/3; // float in the center
  display: grid;
  max-width: $breakpoint__full; // 🚨 this seems wrong
  justify-self: center;
  grid-template-columns: 1fr 2rem 1fr;
  row-gap: 1rem;

  @media (min-width: $breakpoint__medium) {
    grid-template-columns: 1fr 2rem 1fr 2rem 1fr;
    row-gap: 2rem;
    margin-block-end: calc(var(--global-margin) * 4);
    // 3 col - 2 gap
  }
}

.summit__info {
  grid-row: 1;
  grid-column: 1/4;
  padding: var(--global-padding);
  max-width: 35em;
  justify-self: center;

  h1 {
    margin-top: 2.75rem; // back to type-scale
    font-size: 1.728em;
    line-height: 1.35em;

    @media (min-width: $breakpoint__medium) {
      font-size: 2.074em; // h2 halfway back up
    }

    /*     @media (min-width: $breakpoint__large) {
      padding-left: calc(var(--global-padding) * 2); // not a margin due to need to center
      padding-right: calc(var(--global-padding) * 2);
    }
  } // h1 */

    /*   p {
    @media (min-width: $breakpoint__large) {
      padding-left: calc(var(--global-padding) * 2); // not a margin due to need to center
      padding-right: calc(var(--global-padding) * 2);
    } */
  } // p
} // .summit__info

// this is messy it uses svg and clip-path at different sizes
.summit__about {
  grid-row: 3;
  grid-column: 1/4;
  margin-bottom: var(--global-margin);
  justify-self: center;
  background: var(--medium-gray);
  padding-inline: var(--global-padding);
  
  @supports not (padding-inline: 1rem) {
    padding-left: var(--global-padding);
    padding-right: var(--global-padding);
  }
  
  @media (min-width: $breakpoint__medium) {
    width: calc(100% - 2rem);
    grid-column: 2/6;
    grid-template-columns: 2em 1fr 2em;
    clip-path: polygon(2em 0, 100% 0, 100% 100%, 0 100%);
    margin-bottom: calc(var(--global-margin) * 2);
  }

  // still in .summit__about
  h2 {
    font-size: 1.728em;
    line-height: 1.33em; // guess and check select some text to check its right
    max-width: $general-measure;
    margin: 2.75rem auto 1.05rem auto;

    // use padding for the sides as we need margin to be center aligned
    // or go to a flex?
    @media (min-width: $breakpoint__medium) {
      padding-left: calc(var(--global-padding) * 2);
      padding-right: calc(var(--global-padding) * 2);
    }

    /*     @media (min-width: $breakpoint__large--half-step) {
      font-size: 2.074em;
      margin: 2.75rem auto 1.05rem auto;
    } */
  }

  p {
    // padding: var(--global-padding);
    max-width: $general-measure;

    @media (min-width: $breakpoint__medium) {
      padding-left: calc(var(--global-padding) * 2);
      padding-right: calc(var(--global-padding) * 2);
      margin: var(--global-margin) auto;
    }
  } // p
} // .summit__about

.summit__video {
  grid-row: 2;
  grid-column: 1/4;
  margin: 1rem;
  max-width: 60rem; // double the measure guess and check
  aspect-ratio: 16 / 9;

  @media (min-width: $breakpoint__medium) {
    grid-column: 1/6;
    width: calc(100% - 2rem);
    margin: 2rem auto;
  }

  /*   @media (min-width: $breakpoint__medium--half-step) {
    grid-column: 1/8;
    margin: 0 auto;
  } */

  /*   @media (min-width: $breakpoint__large) {
    grid-row: 1/3;
    grid-column: 7/12;
  } */

  /*   @media (min-width: $breakpoint__large--half-step) {
    grid-column: 8/16;
  } */

  iframe {
    clip-path: polygon(32px 0%, 100% 0%, calc(100% - 32px) 100%, 0% 100%);

    /*     @media (min-width: $breakpoint__large) {
      clip-path: polygon(64px 0%, 100% 0%, calc(100% - 64px) 100%, 0% 100%);
    } */
  }
}

// .summit__videobacker & .summit__videobacker--color should have something for both

.summit__videobacker {
  grid-row: 2;
  grid-column: 1/4;
  z-index: -1;
  clip-path: polygon(32px 0, 100% 0, 100% calc(100% - 32px), 0 100%);
  // mix-blend-mode: luminosity;
  // margin-bottom: var(--global-margin);
  max-width: 60rem; // same as the video
  justify-self: end;
  aspect-ratio: 16 / 9;

  @media (min-width: $breakpoint__medium) {
    grid-column: 2/6;
    // margin-bottom: 3rem;
  }

  /*   @media (min-width: $breakpoint__medium--half-step) {
    grid-column: 3/8;
  } */

  /*   @media (min-width: $breakpoint__large) {
    // display: none;
    grid-row: 1/4;
    grid-column: 7/12;
    margin-bottom: 0;
    clip-path: polygon(64px 0, 100% 0, 100% 100%, 0 100%);
    height: calc(100% + 4rem);
  } */

  /*   @media (min-width: $breakpoint__large--half-step) {
    grid-column: 8/16;
  } */

  /*   // this changes to a completley different grid
  @media (min-width: $breakpoint__full) {
    grid-row: 1;
    grid-column: 2;
    margin-bottom: 0;
  } */

  display: grid;
  place-items: center;

  // this controls the blue overlay
  > * {
    grid-row: 1;
    grid-column: 1;
  }

  .gatsby-image-wrapper {
    height: 100%;
  } // .gatsby-image-wrapper
} // .summit__videobacker

.blue-backer {
  background: var(--secondary-color);
  width: 100%;
  height: 100%;
  z-index: 1;
  mix-blend-mode: multiply;
  aspect-ratio: 16 / 9;
}

.summit__videobacker--color {
  grid-row: 2;
  grid-column: 1/4;
  z-index: -1;
  clip-path: polygon(32px 0, 100% 0, 100% calc(100% - 32px), 0 100%);
  background: var(--secondary-color);
  mix-blend-mode: multiply;
  // margin-bottom: var(--global-margin);
  aspect-ratio: 16 / 9;

  @media (min-width: $breakpoint__medium) {
    grid-column: 2/6;
    // margin-bottom: 3rem;
    // height: calc(100% - 8rem);
  }

  /*   @media (min-width: $breakpoint__medium--half-step) {
    grid-column: 3/8;
  } */

  /*   @media (min-width: $breakpoint__large) {
    grid-row: 1/4;
    grid-column: 7/12;
    margin-bottom: 0;
    clip-path: polygon(64px 0, 100% 0, 100% 100%, 0 100%);
    height: calc(100% + 4rem);
  } */

  /*   @media (min-width: $breakpoint__large--half-step) {
    grid-column: 8/16;
  } */

  /*   // this changes to a completley different grid
  @media (min-width: $breakpoint__full) {
    grid-row: 1;
    grid-column: 2;
    // margin-bottom: 0;
  } */

  display: none;
}

.summit__team-photo_1 {
  grid-row: 4;
  grid-column: 1/3;
  clip-path: polygon(0 0, calc(100% - 1rem) 0, calc(100% - 3rem) 100%, 0 100%);
  margin-right: 0.5rem;
  margin-bottom: var(--global-margin);

  @media (min-width: $breakpoint__medium) {
    grid-row: 3;
    grid-column: 1/3;
    margin-bottom: calc(var(--global-margin) * 2);
  }

  /*   @media (min-width: $breakpoint__medium--half-step) {
    grid-column: 1/5;
  } */

  /*   @media (min-width: $breakpoint__large) {
    grid-row: 2;
    grid-column: 1/3;
    // max-width: $general-measure;
    // this is needed before full is it really needed here?
    margin-left: 3rem;
  } */

  /*   @media (min-width: $breakpoint__large--half-step) {
    grid-column: 1/5;
  } */

  > .gatsby-image-wrapper {
    @media (min-width: $breakpoint__medium) {
      height: 100%; // match the box
      margin-bottom: -5em; // guess and check
    }
  } // .gatsby-image-wrapper
} // .summit__team-photo_1

.summit__team-photo_2 {
  grid-row: 4;
  grid-column: 2/4;
  clip-path: polygon(32px 0, 100% 0, 100% 100%, 0 100%);
  margin-left: 0.5rem;
  margin-bottom: var(--global-margin);

  @media (min-width: $breakpoint__medium) {
    grid-row: 1;
    grid-column: 5;
    margin-bottom: calc(var(--global-margin) * 2);
  }

  /*   @media (min-width: $breakpoint__medium--half-step) {
    grid-column: 4/8;
  } */

  /*   @media (min-width: $breakpoint__large) {
    grid-column: 4/7;
    clip-path: polygon(2rem 0, 100% 0, calc(100% - 2rem) 100%, 0 100%);
  } */

  /*   @media (min-width: $breakpoint__large--half-step) {
    grid-column: 4/9;
  } */

  > .gatsby-image-wrapper {
    // start at medium when its beside text
    @media (min-width: $breakpoint__medium) {
      height: calc(100% - 5.75rem);
      margin-top: 3.75rem; // match the h1 tag then guess and check
    }

    /*     @media (min-width: $breakpoint__medium--half-step) {
      // height: calc(100% - 12.75rem); // guess and check
      height: calc(100% - 4.75rem); // guess and check
    } */

    /*     @media (min-width: $breakpoint__large) {
      height: calc(100% - 5.75rem); // guess and check
    } */
  } // .gatsby-image-wrapper
} // .summit__team-photo_2

.summit__contact {
  grid-row: 5;
  grid-column: 1/4;
  margin-bottom: calc(var(--global-margin) * 2);
  max-width: 86rem; // guess and check so the angled box sit the same as the
  margin-left: auto;
  margin-right: auto;
  
  @media (min-width: $breakpoint__medium) {
    grid-row: 4;
    grid-column: 1/6;
    margin-block-end: calc(var(--global-margin) * 4);
  }

  /*   @media (min-width: $breakpoint__medium) {
    grid-column: 1/8;
  } */

  /*   @media (min-width: $breakpoint__large) {
    grid-row: 3;
    grid-column: 1/6;
    // justify-self: end;
  } */

  /*   @media (min-width: $breakpoint__large--half-step) {
    grid-column: 1/8;
  } */

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  // flex-direction: column;

  /*   @media (min-width: $breakpoint__medium--half-step) {
    flex-direction: row;
    justify-content: space-around;
  } */
}

.summit__contact--service {
  // margin: 0 var(--global-margin) var(--global-margin) var(--global-margin);
  margin: var(--global-margin);
  display: grid;
  
  > * {
    grid-row: 1;
    grid-column: 1;
  }
  
  > a {
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    display: flex;
    flex-direction: row;
    color: var(--white);
    background: var(--secondary-color);
    background: var(--black);
      background: linear-gradient(
      184deg,
      rgba(30, 141, 183, 1) 0%,
      rgba(0, 96, 135, 1) 50%
    );

    clip-path: polygon(2rem 0, 100% 0, calc(100% - 2rem) 100%, 0 100%);
  }
}

.summit__contact--icon {
  padding: var(--global-padding);
  justify-self: end;
  svg {
    fill: currentColor;
  }
}

.summit__contact--text {
  padding: var(--global-padding);
  display: flex;
  align-items: center;
}

// I'm not 100% this is the best way to do it but it works
.summit-contact--skew {
  grid-row: 1;
  grid-column: 1/3;
  transform: skewX(-8deg); // guess and check
  background: var(--secondary-color);
  background: linear-gradient(
    180deg,
    rgba(30, 141, 183, 1) 0%,
    rgba(0, 96, 135, 1) 100%
  ); // 📣

  @media (min-width: $breakpoint__large) {
    transform: skewX(-4deg); // guess and check
  }
}

// this might need a child hover
.summit__contact--service:hover .summit-contact--skew {
  background: var(--primary-color);
  background: linear-gradient(
    180deg,
    rgba(30, 141, 183, 0.75) 0%,
    rgba(0, 96, 135, 0.75) 100%
  );
}

/*------------------------------------*\
    #GRID
\*------------------------------------*/

.page {
  max-width: 75rem;
  margin-inline: auto;
  padding: 1rem;
}

.block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));

  > .block-gallery {
    display: flex;
    flex-flow: row wrap;

    > * {
      flex: 1 1 5rem;
    }
  }
}
