/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/

@import "hero";
@import "summit";
@import "page";
@import "footer";

.service-grid {
  display: grid;
}

.service-grid img,
.service-grid h4 {
  grid-column: 1;
  grid-row: 1;
}

.service-grid-bg {
  background-color: rgba(10, 127, 189, 0.7);
  //rgba has alpha so not sure about how to have a variable
  align-self: end;

  > a {
    color: var(--white);
  }

  > a:hover {
    color: var(--light-gray);
  }
}
