/*------------------------------------*\
  #SERVICE
\*------------------------------------*/

.services__all {
  display: flex;
  flex-flow: row wrap;
  column-gap: 1rem;

  > * {
    flex: 1 1 calc(var(--general-measure) * 2); 
  }
}

.service__wrapper {
  margin-block-end: 3rem;
  max-width: var(--page-width);
  margin-inline: auto;
}

.service {
  display: grid;
  margin-bottom: 2rem;
  background: var(--light-gray);

  @media (min-width: $breakpoint__medium) {
    grid-template-columns: 1fr 1fr;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1rem), 0 100%);
  }

  > .service__image {
    grid-row: 1/3;
    grid-column: 1;
    clip-path: polygon(0 0, 100% 0, calc(100% - 2rem) 100%, 0 100%);
    z-index: 2; // above the .service__title--back
  }

  > .service__title--back {
    grid-row: 1;
    grid-column: 1/3;
    background: var(--secondary-color);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1rem), 0 100%);
  }

  > .service__title {
    grid-row: 1;
    grid-column: 2;
    margin-block-start: 3rem;
    margin-inline-start: 3rem;
    z-index: 2; // above the .service__title--back
    
    > a {
      color: var(--white);
    }
  }

  > .service__text {
    grid-row: 2;
    grid-column: 2;
    margin-block-start: 3rem;
    margin-inline-start: 3rem;
  }
}

/*------------------------------------*\
  #INDUSTRY
\*------------------------------------*/

.industry__all {
  display: flex;
  flex-flow: row wrap;
  column-gap: 1rem;

  > * {
    flex: 1 1 var(--general-measure);
  }
}

.industry__wrapper {
  margin-block-end: 3rem;
  max-width: calc(var(--page-width) / 2);
  margin-inline: auto;
}

.industry {
  background: var(--light-gray);
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1rem), 0 100%);
  margin-block-end: 3rem;

  > .industry__title {
    
    > a {
      display: block;
      background: var(--secondary-color);
      color: var(--white);
      padding: 1rem;
      clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1rem), 0 100%);

    }
  }

  > .industry__text {
    margin-inline: 1rem;
    padding-block-end: 3rem;
  }
}

/*------------------------------------*\
  #MAP
\*------------------------------------*/

#map {
  margin-block-end: 3rem;

  > iframe {
    max-width: var(--page-width);
    margin-inline: auto;
    display: block;
  }
}

/*------------------------------------*\
  #TESTIMONIALS
\*------------------------------------*/

#testimonials {
  background: var(--light-gray);
  display: grid;

  > .stars {
    display: grid;
    grid-template-rows: 1fr 1.55fr; // guess and check

    > * {
      grid-column: 1;
    }

    > .svgs {
      grid-row: 1/3;
      justify-self: center;
    }

    > .star__back {
      background: var(--medium-gray);
      grid-row: 2;
    }
  }

  > blockquote {
    background: var(--medium-gray);
    text-align: center;
  }
}