/*------------------------------------*\
  #SERVICE
\*------------------------------------*/

.services__all {
  display: flex;
  flex-flow: row wrap;
  column-gap: 1rem;

  > * {
    flex: 1 1 calc(var(--general-measure) * 2); 
  }
}

.service__wrapper {
  margin-block-end: 3rem;
  max-width: var(--page-width);
  margin-inline: auto;
}

.service {
  display: grid;
  margin-bottom: 2rem;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1rem), 0 100%);
  background: var(--light-gray);

  @media (prefers-color-scheme: dark) {
    background: var(--blackish);
  }

  @media (min-width: $breakpoint__medium) {
    grid-template-columns: 1fr 1fr;
  }

  > * {
    grid-column: 1;
  }

  > .service__image {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1rem), 0 100%);
    z-index: 2; // above the .service__title--back
    grid-row: 1;
    
    @media (min-width: $breakpoint__medium) {
      grid-row: 1/4;
      clip-path: polygon(0 0, 100% 0, calc(100% - 2rem) 100%, 0 100%);
    }
  }

  > .service__title--back {
    background: var(--secondary-color);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1rem), 0 100%);
    grid-row: 1/3;
    @media (min-width: $breakpoint__medium) {
      grid-column: 1/3;
      grid-row: 1;
    }
  }


  > .service__title {
    margin-block-start: 3rem;
    margin-inline-start: 3rem;
    z-index: 2; // above the .service__title--back
    grid-row: 2;
    @media (min-width: $breakpoint__medium) {
      grid-row: 1;
      grid-column: 2;
    }
    
    > a {
      color: var(--white);
    }
  }

  > .service__text {
    margin-block-start: 3rem;
    margin-block-end: 1rem;
    margin-inline-start: 3rem;
    grid-row: 3;
    
    @media (min-width: $breakpoint__medium) {
      grid-row: 2;
      grid-column: 2;
    }
  }

  > .service__more--back {
    grid-row: 4;
    background: var(--medium-gray);
    clip-path: polygon(0 1rem, 100% 0, 100% 100%, 0 100%);
    z-index: -1;

    @media (min-width: $breakpoint__medium) {
      grid-row: 3;
      grid-column: 1/3;
    }
  }

  > .service__more {
    grid-row: 4;

    @media (min-width: $breakpoint__medium) {
      grid-row: 3;
      grid-column: 2;
    }

    > a {
      margin-block: 1rem;
      margin-inline-start: 3rem;
    }
  }
}



/*------------------------------------*\
  #INDUSTRY
\*------------------------------------*/

.industry__all {
  display: flex;
  flex-flow: row wrap;
  column-gap: 1rem;

  > * {
    flex: 1 1 var(--general-measure);
  }
}

.industry__wrapper {
  margin-block-end: 3rem;
  max-width: calc(var(--page-width) / 2);
  margin-inline: auto;
}

.industry {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1rem), 0 100%);
  margin-block-end: 3rem;
  background: var(--light-gray);

  @media (prefers-color-scheme: dark) {
    background: var(--blackish);
  }

  > .industry__title {
    
    > a {
      display: block;
      background: var(--secondary-color);
      color: var(--white);
      padding: 1rem;
      clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1rem), 0 100%);

    }
  }

  > .industry__text {
    margin-inline: 1rem;
    padding-block-end: 3rem;
  }
}

/*------------------------------------*\
  #MAP
\*------------------------------------*/

#map {
  margin-block-end: 3rem;
  padding: var(--global-padding);

  > iframe {
    margin-inline: var(--global-margin);
    width: 100%;
    max-width: var(--page-width);
    margin-inline: auto;
    display: block;
  }
}

/*------------------------------------*\
  #TESTIMONIALS
\*------------------------------------*/

#testimonials {
  display: grid;
  background: var(--light-gray);
  @media (prefers-color-scheme: dark) {
    background: var(--black);
  }

  svg {
    fill: var(--secondary-color);
  }

  > .stars {
    display: grid;
    grid-template-rows: 1fr 1.55fr; // guess and check
    // margin-block-end: 3rem;

    > * {
      grid-column: 1;
    }

    > .svgs {
      grid-row: 1/3;
      justify-self: center;
      display: flex;
      justify-content: space-around;
      gap: var(--global-grid-gap);
    }

    > .star__back {
      grid-row: 2;
      background: var(--medium-gray);
      
      @media (prefers-color-scheme: dark) {
        background: var(--blackish);
      }
    }
  }

  > blockquote {
    padding-block: 3rem;
    text-align: center;
    background: var(--medium-gray);
    @media (prefers-color-scheme: dark) {
      background: var(--blackish);
    }
  }
}

/*------------------------------------*/
//  #single
/*------------------------------------*/

.single__cover {
  max-width: var(--page-width);
  margin-inline: auto;
  margin-block-end: 3rem;
  display: block;
}

.single__title {
  max-width: var(--page-width);
  margin-inline: auto;
  margin-block-end: 3rem;
  display: flex;
  flex-flow: row wrap;

  > * {
    flex: 1 1;
  }
}

/*------------------------------------*/
//  #DIATOMIC CARDS
/*------------------------------------*/

.diatomic-wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: center;

  > * {
    flex: 1 1 var(--general-measure);
    max-width: var(--general-measure);
  }
}

.diatomic-card {
  display: grid;

  > * {
    grid-column: 1;
  }
}

.diatomic-card__image {
  grid-row: 1/3;
  filter: drop-shadow(0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25));

  > img {
    clip-path: polygon(0 1rem, 100% 0, 100% calc(100% - 1rem), 0 100%);
  }
}

.diatomic-card__text {
  grid-row: 2/4;
  z-index: 2; // over the image
  margin: 1rem;
  filter: drop-shadow(0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25));

  > .diatomic-card__text--container {
    box-shadow: inset 0 0 0.1rem 0.1rem whitesmoke;
    opacity: 0.9;
    background: whitesmoke;
    display: grid;
    clip-path: polygon(0 1rem, 100% 0, 100% calc(100% - 1rem), 0 100%);

    > h4 {
      margin-block-start: 1rem;
    }

    > h4, p {
    padding: 1rem;
    }
  }
}

.diatomic-card__text--more {
  background: linear-gradient(184deg,#1e8db7,#006087 50%);
  color: white;
  padding: 1rem;
  padding-block-end: 2rem;
}