<div class="bg-black shadow-darker">
    <p class="text-center gp2-tb one-point-two-em footer-extra">
        <b>&copy; 
            <a href="#" rel="home" class="hidden-link">{{ title }} 2020</a>
        </b>
    </p>
</div>