<div class="hero gp-top">
    {{> atoms-hero-image }}
    
    <div>{{!-- keep the items together --}}
        {{# page }}
            <h1>{{ title }}</h1>
            <p>{{ description }}</p>
        {{/ page }}
    </div>
</div>
