<div class="small-12 large-6 cell gp-tb-large">
    <div class="bg-light-gray shadow">
        <h4 class="service-grid-bg no-margin-bottom gp-4">
            <span class="fake-a">
                <a href="#">
                    Title
                </a>
            </span>
        </h4>

        <div class="gp-4 no-margin-bottom">
            Content
        </div>

        <a href="#">
            <span class="gm-3 button hollow">More about Title</span>
        </a>
    </div>
</div>