{{!-- summit about --}}
<div class="summit__about">
    <h2>We're Experienced Sheetmetal Engineers.</h2>
    <p>Priest Sheetmetal &amp; Plate Ltd is a family run business that has operated out of our 10 Barbour St address in Waltham, Christchurch for over 63 years. Let our experience guide you from design, manufacture, to assembly and installation of your fabrication project.</p>
</div>