{{!-- summit info --}}
<div class="summit__info">
    <h1>Specialist welders, sheetmetal engineers and generald fabricators in Christchurch</h1>
    <p>Our team of welders and engineers can tackle any welding or fabrication job. We specalise in TIG, MIG, ARC and resistance-Spot Welding. We can weld alloy, mild steel, stainless and much more. Our Fabricators can fold, stamp, punch, and cut to your requirements with our specialized machinery and experience.</p>
</div>