/*------------------------------------*\
    #COLORS
\*------------------------------------*/

/**
 * In this file, we take the literal colors from our palette (defined in variables.scss)
 * and define them against variables that we can utilise anywhere throughout the project.
 */

 $primary-color: #1e93bd;
 $secondary-color: #006087;
 $warning-color: #ffae00;
 
 $black: #0a0a0a;
 $white: #fefefe;
 $light-gray: #e6e6e6;
 $medium-gray: #cacaca;
 $dark-gray: #8a8a8a;



/*------------------------------------*\
    #GLOBAL TEXT COLOR
\*------------------------------------*/

/*------------------------------------*\
    #LINKS
\*------------------------------------*/

/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

/*------------------------------------*\
    #FORMS
\*------------------------------------*/