/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/

/*------------------------------------*\
    #COLORS
\*------------------------------------*/

:root {
    --primary-color-b: 195.8, 72.6%;
    --primary-color-l: 42.9%;
    // --primary-color: hsl(var(--primary-color-b), var(--primary-color-l));
    --primary-color: hsl(195.8, 72.6%, 42.9%); // #1e93bd

    --secondary-color-b: 197.3, 100%;
    --secondary-color-l: 26.5%;
    --secondary-color: hsl(197.3, 100%, 26.5%); // #006087

    --priest-blend: linear-gradient(184deg, rgba(30, 141, 183, 1) 0%, rgba(0, 96, 135, 1) 50%);
    // gradient has to be from 50% to get a pass on wave.webaim.org

    --black: hsl(0, 0%, 4%);
    --blackish: hsl(0, 0%, 13%);
    --dark-gray: hsl(0, 0%, 54%);
    --medium-gray: hsl(0, 0%, 79%);
    --light-gray: hsl(0, 0%, 90%);
    --white: hsl(0, 0%, 100%);
}

/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

/**
 * Font Family
 */
 //https://css-tricks.com/snippets/css/system-font-stack/
:root {
    --major-font-family: "Roboto Slab", serif; // rename this it's also nav and buttons etc
    --body-font-family: "Helvetica Neue", Helvetica, system-ui, sans-serif;
    --github-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/**
 * Font Sizing
 */
:root {
    --h1-fs: 2.5rem;
    --h2-fs: 2.125rem;
    --h3-fs: 1.75rem;
    --h4-fs: 1.5rem;
    --h5-fs: 1.25rem;
    --h6-fs: 1rem;
    --sm-fs: 0.75rem;

    --h-lh: 1.35em; // specifically em
}

/**
 * Line Height
 */

/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/

/**
 * Max Width
 */

// needs to be a sass variable as well
// https://www.w3.org/TR/css-variables-1/#using-variables
$general-measure: 30rem; // document this somewhere
$header-menu-size: 70rem;
$page-width: 77em; // this should probably meet up with breakpoints

:root {
    --general-measure: 30rem;
    --header-menu-size: 70rem
    --page-width: 77em;
}

/*------------------------------------*\
    #SPACING
\*------------------------------------*/

/**
 * Spacing and offsets
 * 1) Used to space grids and body padding
 */
:root {
    --global-margin: 1rem;
    --global-padding: 1rem;
    --global-grid-gap: --global-margin;
}

/*------------------------------------*\
    #BORDERS
\*------------------------------------*/

/*------------------------------------*\
    #ANIMATION
\*------------------------------------*/

/*------------------------------------*\
    #BREAKPOINTS
\*------------------------------------*/
$breakpoint__small: 0; // document this?
$breakpoint__medium: 40em; // 640px
$breakpoint__medium--half-step: 54em; // 864px minor change
$breakpoint__large: 90em; // 1440px // Im getting the feeling this is too small
$breakpoint__large--half-step: 120em; // 1920px minor change
$breakpoint__full: 144em; // 2304px // this could just be large__half-step
// for the px surely I need the body size above?
// include something about measure in here

$header-menu-size: 56rem;
